<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nextpeer.android"
    android:versionCode="1"
    android:versionName="1.4.7" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />   

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/np__ic_launcher"
        android:label="@string/np__application_name"
        android:theme="@style/NP__Theme" >
        
        <activity android:name="com.nextpeer.android.NextpeerActivity"
         	  android:label="@string/np__application_name"
              android:theme="@style/NP__Theme" />
        <activity android:name="com.nextpeer.android.facebook.LoginActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:label="@string/np__application_name" />
        
        <service android:name="com.nextpeer.android.NextpeerPushService" />
        <receiver android:name="com.nextpeer.android.NextpeerBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>